.container {
  width: 100%;
  height: 100vh;
  background-color: #e9e9ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formbox {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
}
#FP {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}
#FPP {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  margin-top: 2px;
}
.para {
  font-size: 14px;
  color: rgb(133, 127, 127);
  margin: 20px 0px;
}

.another {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.InputField {
  display: block;
}

.InputField label {
  margin-bottom: 5px;
  font-weight: 700;
  width: 100%;
}

.InputField input {
  border: 1px solid #2f2c2c;
  border-radius: 7px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
}
.butnfield {
  width: 100%;
  display: flex;
}
.butnfield button {
  flex-basis: 100%;
  background: #b9b5f5;
  color: #000000;
  height: 40px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
}
