.ResetContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ResetContainer h1:first-child {
  font-size: 40px;
  font-weight: 700;
}

.ResetContainer .ResetWrapper {
  height: 50%;
  width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 40px 40px;
  margin-top: 40px;
}

.ResetWrapper label {
  width: 100%;
  font-weight: 700;
}
.ResetWrapper .label2 {
  margin-top: 40px;
}
.ResetWrapper input {
  width: 100%;
  height: 15%;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 10px;
}
.ResetWrapper button {
  width: 100%;
  height: 15%;
  border-radius: 10px;
  border: none;
  background-color: #b9b5f5;
  margin-top: 40px;
  font-weight: 600;
  cursor: pointer;
}

/* .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  font-weight: 700;
  font-size: 30px;
}
.heading p {
  font-size: 25px;
  font-weight: 700;
}

.form {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  background: #fff;
  text-align: center;
  border-radius: 10px;
}

form {
  margin: 50px 50px;
}

.InputField {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.InputField label {
  display: flex;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

.InputField input {
  width: 100%;
  border: 1px solid #2f2c2c;
  border-radius: 7px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
}

.butnfield {
  flex: 100%;
  display: flex;
  justify-content: space-between;
}
.butnfield button {
  flex-basis: 100%;
  background: #b9b5f5;
  color: #000000;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
} */
